.navbarL{
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: black;
    color: white;
    font-weight: 400;

}
.navbarL img{
    height: 40px;
    width: 40px;
    color: white;
}
.logoL{
    display: flex;
    margin-left: 2.5rem;
    flex-direction: row;
    align-items: center;
}
.logoL > h4{
    padding-top: 10px;
}
.basicL{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: 0 20px;

}
.loginL{

    width: 20vw;
    display: flex;
    justify-content: center;

}
.loginButtonL{
    margin-right: 1rem;
}
.greenL{
    color: rgb(75, 175, 75);
}
