@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Libre+Baskerville:ital@1&family=Mukta:wght@600&family=Playfair:wght@800&family=Poppins:wght@200&family=Roboto:wght@300;400&display=swap');
body {
  margin: 0;
 
  font-family: "Amazon Ember",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
  
  width: 8px;
  background-color: #f5f5f5; 
}

::-webkit-scrollbar-thumb {
  background-color: #3b4a9f; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b4a9f;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Styling for the scrollbar */
.message-box::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.message-box::-webkit-scrollbar-thumb {
  background-color: #3b4a9f; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

.message-box::-webkit-scrollbar-thumb:hover {
  background-color: #3b4a9f; /* Color of the thumb on hover */
}

.message-box::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color of the scrollbar track */
}

/* Styling for the scrollbar */
.PartOne::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.PartOne::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

.PartOne::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

.PartOne::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color of the scrollbar track */
}
/* Styling for the scrollbar */
.sideLeft::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.sideLeft::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

.sideLeft::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the thumb on hover */
}

.sideLeft::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color of the scrollbar track */
}

/* Styling for the scrollbar */
.clippedDrawer::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.clippedDrawer::-webkit-scrollbar-thumb {
  background-color: #8189b7; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

.clippedDrawer::-webkit-scrollbar-thumb:hover {
  background-color: #5f6fc9; /* Color of the thumb on hover */
}

.clippedDrawer::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color of the scrollbar track */
}
/* Styling for the scrollbar */
.feedBox::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #f5f5f5; /* Background color of the scrollbar track */
}

.feedBox::-webkit-scrollbar-thumb {
  background-color: #4c516b; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

.feedBox::-webkit-scrollbar-thumb:hover {
  background-color: #4c516b; /* Color of the thumb on hover */
}

.feedBox::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color of the scrollbar track */
}